
<div class="row builder-page">
	<div class="span2">
		<form class="form-horizontal">
			<!--COLUMN 1--->

			<label class="checkbox">
				<input type="checkbox" value=""
					   data-bind=" checked: isDraw ">
				is Draw
			</label>

			<label class="checkbox">
				<input type="checkbox" value=""
					   data-bind=" checked: isChain">
				is Chain
			</label>

		</form>
	</div>
	<div class="span3">
		<!--<form class="form-horizontal">-->
			<div class="btn-group">
				<button class="btn">
					<i class="icon-step-backward"></i>
				</button>
				<button class="btn" data-bind="
					css:{ active: framePlayerManager.selectedPlayer() ? framePlayerManager.selectedPlayer().isPlay : false },
					click: framePlayerManager.togglePlayer
				">
					<i class="icon-play"></i>
					/
					<i class="icon-stop"></i>
				</button>
				<button class="btn">
					<i class="icon-step-forward"></i>
				</button>
			</div>
		<!--</form>-->
	</div>
</div>
















